
@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Crete+Round|Open+Sans|Permanent+Marker');

@import url('https://fonts.googleapis.com/css?family=Henny+Penny');

@font-face{
    font-family: "Ribeye Marrow";
    src: url("1Fonts/ribeye-marrow.woff2");
}

@font-face{
    font-family: "Just Another Hand";
    src: url("1Fonts/just-another-hand.woff2");
}
 
@font-face{
    font-family: "lobster";
    src: url("1Fonts/lobster.woff2");
}

@font-face{
    font-family: "Mystery quest";
    src: url("1Fonts/mystery-quest.woff2");
}

   body{
        background-color: #EECCAA;
    }
    
    h1{
        font-size: 3rem;
        letter-spacing: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        font-family: 'lobster', 
        cursive;
    }

    p.intro {
        margin-left: 30%;
        margin-right: 30%;
        font-family: 'Calligraffitti', 
        cursive;
        
        line-height: 200%;
        text-align: justify;
    }

    p.latin{
        margin: 0;
        font-family: "Permanent Marker",
        cursive;
        font-size: 2.5rem;
    }

    p.español{
        margin: 0 0 3rem;
        color: blue;
        font-family: 'Mystery quest', 
        cursive;
        font-size: 3.5rem;
        letter-spacing: 1px;
        text-align: right;
       
    }
    
    